<section>

    <div class="main-wrapper">

        <div class="login-register-area pt-115 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active" data-toggle="tab" href="#lg1">
                                    <h4> ADMIN </h4>
                                </a>
                                <div class="tab-content">
                                    <div id="lg1" class="tab-pane active">
                                        <div class="login-form-container">
                                            <div class="login-register-form">
                                                <form id="signIn">
                                                    <input type="text" name="email" id="email" placeholder="Username">
                                                    <small></small>
                                                    <input type="password" name="password" id="password"
                                                        placeholder="Password">
                                                    <div class="button-box">
                                                        <div class="login-toggle-btn">
                                                        </div>
                                                        <button type="submit">Login</button>
                                                    </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <script>
        const emailEl = document.querySelector('#email')
        const passwordEl = document.querySelector('#password')
        const form = document.querySelector('#signIn')
        const checkEmail = () => {
            let valid = false
        const email = emailEl.value.trim()
        if (!isRequired(email)) {
            showError(emailEl, 'Email cannot be blank.')
        } else if (!isEmailValid(email)) {
            showError(emailEl, 'Email is not valid.')
        } else {
            showSuccess(emailEl)
                valid = true
            }
        return valid
        }
        const checkPassword = () => {
            let valid = false
        const password = passwordEl.value.trim()
        if (!isRequired(password)) {
            showError(passwordEl, 'Password cannot be blank.')
        } else {
            showSuccess(passwordEl)
                valid = true
            }
        return valid
        }
        const isEmailValid = (email) => {
            const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1, 3}\.[0-9]{1, 3}\.[0-9]{1, 3}\.[0-9]{1, 3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return re.test(email)
        }
        const isPasswordSecure = (password) => {
            const re = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
            return re.test(password)
        }
        const isRequired = value => value !== ''
        const showError = (input, message) => {
            // get the form-field element
            const formField = input.parentElement
            // add the error class
            formField.classList.remove('success')
            formField.classList.add('error')
            // show the error message
            const error = formField.querySelector('small')
            error.textContent = message
        }
        const showSuccess = (input) => {
            // get the form-field element
            const formField = input.parentElement
            // remove the error class
            formField.classList.remove('error')
            formField.classList.add('success')
            // hide the error message
            const error = formField.querySelector('small')
            error.textContent = ''
        }
            form.addEventListener('submit', function (e) {
                // prevent the form from submitting
                e.preventDefault()
            // validate fields
            const isEmailValid = checkEmail()
            const isPasswordValid = checkPassword()
            const isFormValid = isEmailValid && isPasswordValid
            // submit to the server if the form is valid
            if (isFormValid) {
                console.log('form is valid')
                $.ajax({
                type: 'POST',
            url: '/admin/',
            data: $('#signIn').serialize(),
                    success: (response) => {
                console.log(response)
                        if (response.status) {
                location.href = '/admin/admin-dash'
            } else {
                location.href = '/admin-login'
            }
                    }
                })
            }
        })
        const debounce = (fn, delay = 500) => {
                let timeoutId
            return (...args) => {
                // cancel the previous timer
                if (timeoutId) {
                clearTimeout(timeoutId)
            }
                // setup a new timer
                timeoutId = setTimeout(() => {
                fn.apply(null, args)
            }, delay)
            }
        }
            form.addEventListener('input', debounce(function (e) {
            switch (e.target.id) {
                case 'email':
            checkEmail()
            break
            case 'password':
            checkPassword()
            break
            }
        }))
</script>
