    <div class="main-wrapper">
   {{>user-header}}
   {{!-- {{>user-sidebar}} --}}
        <div class="slider-area">
            <div class="container">
                <div
                    class="hero-slider-active-1 nav-style-2 dot-style-2 dot-style-2-position-1 dot-style-2-active-black">
                    <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                        style="background-image:url(https://c1.wallpaperflare.com/preview/545/670/380/book-read-literature-learn.jpg);">
                        <div class="row">
                            <div class="col-12">
                                <div class="hero-slider-content-2 slider-animated-1">
                                    <h1 class="animated"><span>Specialized</span> Collection <br>of Interesting Books</h1>
                                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc
                                        imperdiet, nulla.</p>
                                    <div class="btn-style-2">
                                        <a class="animated" href="/user-shop">explore now <i
                                                class="icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg"
                        style="background-image:url(https://cdn.pixabay.com/photo/2017/01/07/15/07/bible-1960635_960_720.jpg);">
                        <div class="row">
                            <div class="col-12">
                                <div class="hero-slider-content-2 slider-animated-1">
                                    <h1 class="animated"><span>Concentration</span> is <br>the Key</h1>
                                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc
                                        imperdiet, nulla.</p>
                                    <div class="btn-style-2">
                                        <a class="animated" href="/user-shop">explore now <i
                                                class="icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pt-115 pb-110">
            <div class="container">
                <div class="section-title-2 text-center mb-45">
                    <h2><span>New</span> Arrivals</h2>
                    <p>We alway up to date new arrivals follows trending</p>
                </div>
                <div
                    class="product-slider-active dot-style-2 dot-style-2-position-static dot-style-2-mrg-1 dot-style-2-active-black">
                    <div class="product-plr-1">
                        <div class="single-product-wrap mb-35">
                            <div class="product-img product-img-zoom mb-20">
                                <a href="/user-shop">
                                    <img src="https://thebuzzmagazines.com/sites/default/files/article-photos/2020/06/historical%20fiction%20summer%202020%20resized.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-content-2 text-center">
                                <h3><a href="/user-shop"><span class="blod">Fictional</span>Books <span
                                            class="available-product">(56)</span></a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="product-plr-1">
                        <div class="single-product-wrap mb-35">
                            <div class="product-img product-img-zoom mb-20">
                                <a href="/user-shop">
                                    <img src="https://www.greenandturquoise.com/wp-content/uploads/2021/12/Best-Enemies-To-Lovers-Books-Romance1-1500x1000.png" alt="">
                                </a>
                            </div>
                            <div class="product-content-2 text-center">
                                <h3><a href="/user-shop"><span class="blod">Romantic</span>Stories  <span
                                            class="available-product">(55)</span></a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="product-plr-1">
                        <div class="single-product-wrap mb-35">
                            <div class="product-img product-img-zoom mb-20">
                                <a href="/user-shop">
                                    <img src="https://images.unsplash.com/photo-1618519764620-7403abdbdfe9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29taWMlMjBib29rfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
                                </a>
                            </div>
                            <div class="product-content-2 text-center">
                                <h3><a href="/user-shop"><span class="blod">Animation</span> For kids <span
                                            class="available-product">(56)</span></a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="product-plr-1">
                        <div class="single-product-wrap mb-35">
                            <div class="product-img product-img-zoom mb-20">
                                <a href="/user-shop">
                                    <img src="https://c0.wallpaperflare.com/preview/521/550/489/people-paper-hand-book.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-content-2 text-center">
                                <h3><a href="/user-shop"><span class="blod">Daily</span> Motivation <span
                                            class="available-product">(24)</span></a></h3>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="product-plr-1">
                        <div class="single-product-wrap mb-35">
                            <div class="product-img product-img-zoom mb-20">
                                <a href="product-details.html">
                                    <img src="/images/product/product-11.jpg" alt="">
                                </a>
                            </div>
                           
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
        <div class="deal-area pt-150 pb-130 bg-img" style="background-image:url(https://images.pexels.com/photos/267586/pexels-photo-267586.jpeg?cs=srgb&dl=pexels-pixabay-267586.jpg&fm=jpg);">
            <div class="container">
                <div class="deal-content-1">
                    <span>deal of the day</span>
                    <h2><span>50% OFF</span> Basic <br>Tee Flavor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc imperdiet, nulla.</p>
                    <div class="timer-wrap">
                        <h4>Expires in:</h4>
                        <div class="timer-style-1" id="timer-1-active"></div>
                    </div>
                    <div class="deal-btn">
                        <a href="/user-shop">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
        {{>user-footer}}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-12 col-sm-12">
                                <div class="tab-content quickview-big-img">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img src="/images/product/product-1.jpg" alt="">
                                    </div>
                                    <div id="pro-2" class="tab-pane fade">
                                        <img src="/images/product/product-3.jpg" alt="">
                                    </div>
                                    <div id="pro-3" class="tab-pane fade">
                                        <img src="/images/product/product-6.jpg" alt="">
                                    </div>
                                    <div id="pro-4" class="tab-pane fade">
                                        <img src="/images/product/product-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="quickview-wrap mt-15">
                                    <div class="quickview-slide-active nav nav-style-6">
                                        <a class="active" data-bs-toggle="tab" href="#pro-1"><img
                                                src="/images/product/quickview-s1.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-2"><img
                                                src="/images/product/quickview-s2.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-3"><img
                                                src="/images/product/quickview-s3.jpg" alt=""></a>
                                        <a data-bs-toggle="tab" href="#pro-4"><img
                                                src="/images/product/quickview-s2.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6 col-12 col-sm-12">
                                <div class="product-details-content quickview-content">
                                    <h2>Simple Black T-Shirt</h2>
                                    <div class="product-ratting-review-wrap">
                                        <div class="product-ratting-digit-wrap">
                                            <div class="product-ratting">
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                                <i class="icon_star"></i>
                                            </div>
                                            <div class="product-digit">
                                                <span>5.0</span>
                                            </div>
                                        </div>
                                        <div class="product-review-order">
                                            <span>62 Reviews</span>
                                            <span>242 orders</span>
                                        </div>
                                    </div>
                                    <p>Seamlessly predominate enterprise metrics without performance based process
                                        improvements.</p>
                                    <div class="pro-details-price">
                                        <span class="new-price">$75.72</span>
                                        <span class="old-price">$95.72</span>
                                    </div>
                                   
                                  
                                    <div class="pro-details-quality">
                                        <span>Quantity:</span>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                        </div>
                                    </div>
                                    <div class="product-details-meta">
                                        <ul>
                                            <li><span>Categories:</span> <a href="#">Woman,</a> <a href="#">Dress,</a>
                                                <a href="#">T-Shirt</a></li>
                                            <li><span>Tag: </span> <a href="#">Fashion,</a> <a href="#">Mentone</a> , <a
                                                    href="#">Texas</a></li>
                                        </ul>
                                    </div>
                                    <div class="pro-details-action-wrap">
                                        <div class="pro-details-add-to-cart">
                                            <a title="Add to Cart" href="#">Add To Cart </a>
                                        </div>
                                        <div class="pro-details-action">
                                            <a title="Add to Wishlist" href="#"><i class="icon-heart"></i></a>
                                            <a title="Add to Compare" href="#"><i class="icon-refresh"></i></a>
                                            <a class="social" title="Social" href="#"><i class="icon-share"></i></a>
                                            <div class="product-dec-social">
                                                <a class="facebook" title="Facebook" href="#"><i
                                                        class="icon-social-facebook"></i></a>
                                                <a class="twitter" title="Twitter" href="#"><i
                                                        class="icon-social-twitter"></i></a>
                                                <a class="instagram" title="Instagram" href="#"><i
                                                        class="icon-social-instagram"></i></a>
                                                <a class="pinterest" title="Pinterest" href="#"><i
                                                        class="icon-social-pinterest"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
    </div>

    <!-- All JS is here
=
