{{>user-header}}
{{>user-sidebar}}
<div class="myaccount-table table-responsive text-center">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>

        <td>{{@index }}</td>

        <td>{{date}}</td>
        <td>{{status}}</td>
        <td>${{totalAmount.total}}</td>
        <td><a href="cart.html" class="check-btn sqr-btn ">View</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{>user-footer}}