<section class="vh-100 mt-5" style="background-color: #ffffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div style="text-transform: capitalize;" class="card-body p-5 text-center">

                        <h3 class="mb-5">OTP Login</h3>
                       
                        {{#if otpLoginErr}}
                        <div class="alert alert-danger" role="alert">
                            {{otpLoginErr}}
                        </div>
                        {{/if}}
                        <div class="form-outline mb-4">
                            <form action="/otplogin" method="post">
                                <label class="form-label" style="text-transform: capitalize;" for="typeEmailX-2">Enter
                                    registered mobile.no</label>
                                <div style="display: flex;" class="">
                                    <input name="phone" type="text" id="typeEmailX-2"
                                        class="form-control form-control-lg" required>
                                    <button style="margin-left: 10px;" class="btn btn-primary btn-sm" type="submit">Send
                                        OTP</button>
                                </div>
                            </form>
                        </div>
                        <hr class="my-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>