<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Norda - Minimal eCommerce HTML Template</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

  <!-- All CSS is here
	============================================ -->
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/css/vendor/signericafat.css">
  <link rel="stylesheet" href="/css/vendor/cerebrisans.css">
  <link rel="stylesheet" href="/css/vendor/simple-line-icons.css">
  <link rel="stylesheet" href="/css/vendor/elegant.css">
  <link rel="stylesheet" href="/css/vendor/linear-icon.css">
  <link rel="stylesheet" href="/css/plugins/nice-select.css">
  <link rel="stylesheet" href="/css/plugins/easyzoom.css">
  <link rel="stylesheet" href="/css/plugins/slick.css">
  <link rel="stylesheet" href="/css/plugins/animate.css">
  <link rel="stylesheet" href="/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="/css/plugins/jquery-ui.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>


</head>

<body>



  {{!-- {{#if admin}}
  {{>admin-header}}
  {{/if}} --}}
  {{!-- {{#if user}}
  {{>user-header}}
  {{/if}} --}}
  {{{body}}}
</body>

</html>